h3 {
    font-size: 22px;
    margin-block-end: 2px;
}

.NavigationItems {
    padding-right: 25px;
    padding-top: 20px;
    width: 30%;
    min-width: 200px;
    height: 100%;
    min-height: 300px;
    float: right;
    text-align: right;
    color: white;
}

.NavigationItems ul {
    list-style-type: none;
    float: right;
    font-size: 20px;
    margin-block-start: 30px;
    line-height: 1.5em;
}

.Name p {
    margin-block-start: 0px;
    margin-block-end: 20px;
    font-size: 12px;
}

.Name img {
    height: 50px;
    border-radius: 50%;
}








