h3 {
    font-size: 22px;
    margin-block-start: 12px;
    margin-block-end: 2px;
}

.NavigationItems {
    position: fixed;
    padding-right: 25px;
    padding-top: 20px;
    width: 30%;
    min-width: 200px;
    height: 100%;
    min-height: 300px;
    float: right;
    text-align: right;
    color: white;
}

.NavigationItems ul {
    list-style-type: none;
    float: right;
    font-size: 20px;
    margin-block-start: 30px;
    width: 100%;
}

.LiHome, .LiPython, .LiJS, .LiAlgorithm, .LiAbout, .LiContact {
    display: inline-flex;
}

.LiHome li {
    padding-top: 11px;
}

.LiPython li {
    padding-top: 12px;
}

.LiJS li {
    padding-top: 10px;
}

.LiAlgorithm li {
    padding-top: 12px;
}

.LiAbout li {
    padding-top: 11px;
}

.LiContact li {
    padding-top: 10px;
}

.Name p {
    margin-block-start: 0px;
    margin-block-end: 20px;
    font-size: 12px;
}

.Name img {
    margin-top: 15px;
    height: 50px;
    border-radius: 50%;
}

.Icons {
    display: block;
    float: right;
    margin: 25% 0 7% 0;
}






